.project-studio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 540px;
  gap: 10px;
}

.project-studio img {
  width: 100%;
  position: absolute;
}

.text {
  z-index: 1;
}

.text h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 68px;
  line-height: 118%;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  width: 613px;
  height: 160px;
  margin-left: 100px;
}

.text h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  width: 482px;
  height: 82px;
  margin-left: 100px;
}

.find-out-more {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 35px;
  gap: 10px;
  width: 345px;
  height: 62px;
  background: #046153;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 119%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  border: none;
  border-radius: 0;
  margin-left: 100px;
}

.find-out-more img {
  position: relative;
  bottom: 25%;
  height: 15px;
  width: 8px;
  left: 5px;
  top: 0;
  border-radius: 0;
}

@media (min-width: 1920px) {
  .project-studio {
    height: 680px;
    gap: 35px;
  }
}

